

header {
  margin: 0;
  padding: 20px 0; ;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: red; 
 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; 
}


.logo-container img {
  max-width: 100%; 
}


.menu-container ul {
  list-style: none; 
  padding: 0;
  margin: 20px 0 0; 
  display: flex; 
  justify-content: center; 
  gap: 30px; 
}

.menu-container a {
  text-decoration: none;
  color: white; 
  font-weight: bold; 
  font-size: 1rem; 
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: yellow; 
}
